<section id="contact" class="py-5">

  <div class="container">

    <div class="text-center mb-5">
        <div class="section-title">
      <h2 >
        Contact
      </h2>

      <p >
        Je suis ouverte aux opportunités de stage, d'emploi ou de collaboration.
        N'hésitez pas à me contacter.  
      </p>
      </div>

    </div>

    <div class="row g-4">

      <!-- Email -->
      <div class="col-lg-6">

        <div class="contact-item">

          <div class="icon">
            <i class="bi bi-envelope-fill"></i>
          </div>

          <div>
            <h5>Email</h5>

            <a href="mailto:fatoumatabakm@gmail.com">
              Mail
            </a>
          </div>

        </div>

      </div>

      <!-- Téléphone -->
      <div class="col-lg-6">

        <div class="contact-item">

          <div class="icon">
            <i class="bi bi-telephone-fill"></i>
          </div>

          <div>
            <h5>Téléphone</h5>

            <span>+221 78 375 69 82</span>
          </div>

        </div>

      </div>

      <!-- Localisation -->
      <div class="col-lg-6">

        <div class="contact-item">

          <div class="icon">
            <i class="bi bi-geo-alt-fill"></i>
          </div>

          <div>
            <h5>Localisation</h5>

            <span>Dakar, Sénégal</span>
          </div>

        </div>

      </div>

      <!-- GitHub -->
      <div class="col-lg-6">

        <div class="contact-item">

          <div class="icon">
            <i class="bi bi-github"></i>
          </div>

          <div>
            <h5>GitHub</h5>

            <a href="#" target="_blank">
             GitHub
            </a>
          </div>

        </div>

      </div>

      <!-- LinkedIn -->
      <div class="col-lg-6">

        <div class="contact-item">

          <div class="icon">
            <i class="bi bi-linkedin"></i>
          </div>

          <div>
            <h5>LinkedIn</h5>

            <a href="#" target="_blank">
             LinkedIn
            </a>
          </div>

        </div>

      </div>

      <!-- CV -->
      <div class="col-lg-6">

        <div class="contact-item">

          <div class="icon">
            <i class="bi bi-download"></i>
          </div>

          <div>
            <h5>Curriculum Vitae</h5>

            <a
              href="cv/CV_Fatoumata_BA.pdf"
              download>

              Télécharger mon CV

            </a>

          </div>

        </div>

      </div>

    </div>

  </div>

</section>