<section id="home" class="hero">

  <div class="container">

    <div class="row align-items-center min-vh-100">

      <!-- Texte -->

      <div class="col-lg-6">

        <p class="hello">
          Bonjour 👋
        </p>

        <h1>
          Je suis
          <span class="name">
            Fatoumata Bâ
          </span>
        </h1>

        <h3>
          Développeuse Full-Stack | IA & Data Engineering
        </h3>

        <p class="description">

          Étudiante en Master 2
          Gestion des Données et Ingénierie Logicielle.

          Passionnée par le développement Web,
          Mobile, la Data et l'Intelligence Artificielle.

        </p>

        <div class="buttons">

          <a
            href="cv/CV_Fatoumata_BA.pdf"
            class="btn btn-primary btn-lg">

            Télécharger mon CV

          </a>

          <a
            href="#projects"
            class="btn btn-outline-primary btn-lg">

            Voir mes projets

          </a>

        </div>


             <div class="status">

            <span class="dot"></span>

            Disponible pour des opportunités

             </div>


             <div class="social-links">

  <a href="https://github.com/TON_PSEUDO"
     target="_blank"
     aria-label="GitHub">

      <i class="bi bi-github"></i>

  </a>

  <a href="https://www.linkedin.com/in/TON_PROFIL"
     target="_blank"
     aria-label="LinkedIn">

      <i class="bi bi-linkedin"></i>

  </a>

  <a href="mailto:fatoumatabakm@gmail.com"
     aria-label="Email">

      <i class="bi bi-envelope-fill"></i>

  </a>

</div>

      </div>

      <!-- Image -->

      <div class="col-lg-6 text-center">

        <div class="image-container">

        <div class="circle"></div>

        <img
            src="images/profil.png"
            class="profile-image"
            alt="Fatoumata Bâ">

    </div>

</div>

    </div>

  </div>

</section>
